img {
  width: 100%;
  height: 100%;
}
.wrapper {
  padding-top: 60px;
  min-width: 1000px;
  overflow: hidden;
  margin: 0;
}
.wrapper header{
  height: 580px;
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0)), url("/assets/img/drone.png") no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.wrapper header .description {
  color: white;
  width: 400px;
  margin: auto 0;
  padding-left: 1.5em;
}
.wrapper header .description p {
  line-height: 1.3;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}
.wrapper header .description button {
  font-size: 0.85em;
  padding: 0.4em 1em;
  color: white;
  border-radius: 0.1em;
}
.wrapper header .description .play {
  background-color: #0B76BC;
  border: solid 1px #0B76BC;
}
.wrapper header .description .play:hover {
  background-color: #0B76BC;
}
.wrapper header .description .add {
  background: rgba(26, 26, 26, 0.7);
  border: solid 1px rgba(128, 128, 128, 0.7);
}
.wrapper header .description .add:hover {
  background-color: rgba(38, 38, 38, 0.7);
}
.wrapper main {
  background: #0a0a0a;
  padding: 0.6em 1em 2em;
}
.wrapper main section {
  padding-bottom: 1em;
}
.wrapper main section h3 {
  margin: 0;
  font-weight: 200;
  color: white;
  font-size: 0.98em;
}
